.card-shelf {
  margin: 10 !important;
}

.book-container {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  overflow: auto !important;
  justify-content: space-around !important;
}
