.card-book {
  width: 300px;
  margin: 15px;
  box-shadow: 11px 10px 15px -12px rgba(0, 0, 0, 0.75);
}

.container-book-img {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.book-img {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 280px;
}

.container-rate {
  justify-content: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.book-description {
  text-align: justify;
  height: 110px;
}

.book-select {
  justify-content: center;
  display: flex;
}