.card-book {
  width: 300px !important;
  margin: 15px !important;
  box-shadow: 11px 10px 15px -12px rgba(0, 0, 0, 0.75) !important;
}

.container-book-img {
  display: flex !important;
  justify-content: center !important;
  margin: 10px !important;
}

.book-img {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 200px !important;
  height: 280px !important;
}

.container-rate {
  justify-content: center !important;
  display: flex !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.book-description {
  text-align: justify !important;
  height: 110px !important;
}

.book-select {
  justify-content: center !important;
  display: flex !important;
}